a {
	text-decoration: none;
}

.grid {
	grid-column-gap: var(--pico-spacing);
	grid-row-gap: var(--pico-spacing);
	display: grid;
	grid-template-columns: 1fr;

	@media (min-width: 640px) {
		grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
	}

	&>* {
		min-width: 0;
	}
}